.card {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 250px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  margin: 32px;
  box-shadow: 0 0 25px #ccc;
  overflow: hidden;
}

.description {
  position: absolute;
  left: 50%;
  padding: 10px;
  color: #606060;
}

.title {
  color: #002104;
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0px 16px 0px;
}

.image {
  display: inline-block;
  position: absolute;
  background-color: #ccc;
  width: 50%;
  height: 100%;
}